
<nav style="background-color: #35363a;" class="navbar navbar-expand-lg  ">
  <div class="container">
    <a class="navbar-brand" href="/">Student Mangement</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item me-4">
          <a   routerLink="list-student" >Student List</a>
        </li>
        <li class="nav-item">
          <a  routerLink="add-student" >Add Student</a>
        </li>
        
       
      </ul>
      <form class="d-flex">
        <a class="me-4" routerLink="registration" >Registration</a>
        <a routerLink="login" >Login</a>

      </form>
    </div>
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>

</div>
 